.working-programm {
  position: relative;
  border: none;
  padding: 0 20px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 15px;
}

.working-programm__field {
  font-size: 16px;
  font-weight: 400;
  font-family: "Oswald", "Arial", sans-serif;
  position: relative;
  display: block;
  padding-left: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}

.working-programm--radio {
  padding: 15px 20px;
  border-top: 1px solid @brightest-gray;
  border-bottom: 1px solid @brightest-gray;
}

.working-programm__replacement {
  display: none;
}

.working-programm-type {
  font-size: 16px;
  font-weight: 400;
  font-family: "Oswald", "Arial", sans-serif;
  position: relative;
  display: block;
  padding-left: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}

.working-programm__replacement[type="radio"]:checked + .working-programm__field::before {
  display: block;
}

.working-programm__replacement[type="radio"]:checked + .form-type::before {
  display: block;
}

.working-programm__replacement:hover + .working-programm__field::after {
  border: 1px solid @hover-radio-button;
}

.working-programm__replacement:active + .working-programm__field {
  opacity: 0.3;
}

.working-programm__field::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border: 1px solid @middle-gray;
  transition: 0.3s;
  border-radius: 500px;
}

.working-programm__field::before {
  content: "";
  display: none;
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -3px;
  width: 12px;
  height: 12px;
  border-right: 1px solid @light-green;
  border-bottom: 1px solid @light-green;
  transform: translateY(-50%) rotate(45deg);
}

.working-programm__field--radio-button::after {
  border-radius: 500px;
}

.working-programm__field--radio-button::before {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  background: @light-green;
  margin-top: 0;
}

@media (min-width: @tablet-width) {
  .working-programm--radio {
    margin: 20px 70px;
    margin-bottom: 66px;
    padding: 22px 30px;
    padding-bottom: 9px;
    border: 1px solid @brightest-gray;
  }

  .working-programm__field {
    padding-left: 57px;
    margin-bottom: 14px;
    font-size: 20px;
    line-height: 20px;
  }

  .working-programm__field::after {
    left: -3px;
    width: 40px;
    height: 40px;
  }

  .working-programm__field--radio-button::before {
    left: 9px;
    width: 18px;
    height: 18px;
    background: @light-green;
  }
}

@media (min-width: @desktop-width) {
  .working-programm__field {
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 20px;
  }

  .working-programm--radio {
    width: 570px;
    padding: 26px 40px 15px 26px;
    border: 1px solid #e6e6e6;
    margin: 0;
    box-sizing: border-box;
  }
}
