.academy-logo {
  position: relative;
  top: 5px;
  display: inline-block;
  width: 28px;
  height: 34px;
  background-image: url("../img/htmlacademy.svg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(1);
  opacity: 0.8;
}

@media (min-width: @tablet-width) {
  .academy-logo {
    top: -5px;
  }
}
