.additional-present {
  margin: 0 auto;
  display: flex;
  width: 280px;
  height: 290px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
}

.additional-present__block {
  margin: auto;
}

.additional-present__image {
  display: flex;
  margin: auto;
  margin-bottom: 60px;
  fill: #ffffff;
}

.additional-present__text {
  width: 172px;
  display: flex;
  margin: auto;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}
