.basic-services {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: repeat-x;
}

.basic-services__text {
  padding-top: 10px;
  margin-bottom: 25px;
  color: #ffffff;
  text-transform: uppercase;
}

.basic-services__title {
  margin-top: 25px;
  font-size: 36px;
  line-height: 36px;
}

.basic-services__appeal {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}
