.basic-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.basic-services__text {
  padding-top: 29px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: @white;
}

.basic-services__title {
  margin: 0;
  padding-bottom: 23px;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  font-weight: 400;
}

.basic-services__appeal {
  margin-left: -5px;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.basic-services__toggle {
  width: 100%;
  min-height: 40px;
}

@media (min-width: @tablet-width) {
  .basic-services {
    align-items: flex-start;
    background: none;
  }

  .basic-services__text {
    width: 425px;
    padding-left: 100px;
    padding-top: 33px;
    padding-bottom: 40px;
    align-items: flex-start;
    color: @dark-gray;
  }

  .basic-services__toggle {
    margin-left: 100px;
    width: 250px;
    min-height: 50px;
  }

  .basic-services__title {
    padding-bottom: 40px;
    letter-spacing: 0;
    text-align: left;
    text-transform: none;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
  }

  .basic-services__appeal {
    margin-left: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .basic-services__product-wrapper {
    margin-top: -78px;
    margin-left: 11px;
    order: 2;
    z-index: -1;
  }

  .basic-services__product-image {
    width: 709px;
    height: 609px;
  }
}

@media (min-width: @desktop-width) {
  .basic-services {
    padding-top: 100px;
    padding-left: 190px;
  }

  .basic-services__text {
    padding-left: 0;
    padding-top: 89px;
    padding-bottom: 48px;
  }

  .basic-services__toggle {
    width: 245px;
    height: 50px;
    margin-top: 5px;
    margin-left: 0;
  }

  .basic-services__product-wrapper {
    z-index: 1;
  }

  .basic-services__product-image {
    margin-left: 360px;
    margin-top: -285px;
    margin-bottom: 131px;
    width: 552px;
    height: 499px;
  }
}
