@font-face {
  font-family: "Oswald";
  src: url("/fonts/oswaldregular.woff2") format("woff2"), url("/fonts/oswaldregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("/fonts/oswaldmedium.woff2") format("woff2"), url("/fonts/oswaldmedium.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  width: 320px;
  margin: auto;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @dark-gray;
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: @tablet-width) {
  body {
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  body {
    width: 1440px;
  }
}
