.button {
  padding: 9px 72px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @white;
  background: @light-green;
  text-decoration: none;
}

.button--gray {
  background: @light-gray;
  color: @gray;
}

@media (min-width: @tablet-width) {
  .button {
    font-size: 20px;
    line-height: 20px;
    padding: 15px 55px;
  }
}
