.button {
  padding: 15px 55px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @white;
  background: @light-green;
  text-decoration: none;
}

.button--gray {
  background: @light-gray;
  color: @gray;
}
