.catalog-add__wrapper {
  padding-top: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog-add__icon-plus {
  margin-bottom: 25px;
  display: block;
  width: 50px;
  height: 50px;
  background: url("../img/icon-plus.svg");
  background-size: contain;
}

.catalog-add__subtitle {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: @dark-gray;
}

.catalog-add__text {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 16px;
  color: @gray;
}

.catalog-add__toggle {
  padding: 15px 100px;
  display: block;
}

@media (min-width: @tablet-width) {
  .catalog-add {
    background: none;
    outline: 1px solid @brightest-gray;
  }

  .catalog-add__wrapper {
    height: 100%;
    padding-top: 55px;
  }

  .catalog-add__subtitle {
    margin-bottom: 20px;
    width: 150px;
    font-size: 20px;
    text-align: center;
  }

  .catalog-add__icon-plus {
    margin-bottom: 47px;
  }

  .catalog-add__text {
    width: 135px;
    margin-bottom: 27px;
    text-align: center;
    font-size: 16px;
  }

  .catalog-add__toggle-wrapper {
    margin-top: 25px;
  }

  .catalog-add__toggle {
    padding: 15px 86px;
  }
}

@media (min-width: @tablet-width) {
  .catalog-add__toggle {
    padding: 12px 46px;
  }
}
