.catalog-add__icon-plus {
  display: block;
  width: 50px;
  height: 50px;
  background: url("../img/icon-plus.svg");
  background-size: contain;
}

.catalog-add__subtitle {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: @dark-gray;
}

.catalog-add__text {
  font-size: 12px;
  line-height: 16px;
  color: @gray;
}
