.desription-services__title {
  color: #111111;
  font-size: 36px;
  line-height: 60px;
}

.description-services__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.description-services__text {
  color: #444444;
  font-size: 14px;
  line-height: 18px;
}

.description-services__item {
  padding-left: 80px;
  margin-bottom: 50px;
  position: relative;
}

.description-services__item::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  left: 0;
  background: #68b738;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.description-services__item--functional::after {
  background-image: url("../img/advantage-leaf@1x.png");
}

.description-services__item--packing::after {
  background-image: url("../img/advantage-powder@1x.png");
}

.description-services__item--diet::after {
  background-image: url("../img/advantage-dining@1x.png");
}

.description-services__item--time::after {
  background-image: url("../img/advantage-clock@1x.png");
}
