.location__text {
  padding: 0 20px;
  margin-top: 23px;
  margin-bottom: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.location__invitation {
  width: 135px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.location__adress {
  font-family: "Arial", sans-serif;
  width: 142px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: @gray;
}

.location__map {
  min-height: 367px;
}
