.page-header {
  background-color: #ffffff;
}

.page-header__main-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page-header__nav-toggle {
  margin-left: 40px;
  width: 24px;
  height: 18px;
  border: none;
  background: url("../img/icon-mobile-menu.svg");
  background-size: contain;
  cursor: pointer;
}

.page-header__nav-text {
  display: none;
}
