.program-selection {
  border-top: 1px solid @brightest-gray;
}

.program-selection__title {
  padding: 0 20px;
  font-weight: 400;
  font-size: 36px;
  font-family: "Oswald", "Arial", sans-serif;
  color: @dark-gray;
  margin-bottom: 47px;
  margin-top: 0;
  padding-top: 39px;
}

.program-selection__subtitle {
  padding: 0 20px;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  margin-bottom: 37px;
  margin-top: 0;
  max-width: 270px;
  color: @dark-gray;
}

@media (min-width: @tablet-width) {
  .program-selection {
    border-top: none;
    margin-bottom: -3px;
  }

  .program-selection__title {
    padding-top: 33px;
    padding-left: 30px;
    margin-bottom: 55px;
    font-size: 60px;
    line-height: 60px;
  }

  .program-selection__subtitle {
    margin-bottom: 65px;
    max-width: 360px;
    padding: 0 70px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .program-selection {
    border-top: none;
  }

  .program-selection__title {
    padding-left: 110px;
    padding-top: 50px;
  }

  .program-selection__subtitle {
    padding: 0 110px;
  }
}
