.social__list {
  margin: 0;
  margin-top: 30px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.social__item {
  display: flex;
  align-items: flex-end;
}

.social__text {
  position: absolute;
  visibility: hidden;
}

.social__link {
  margin-left: 20px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.6;
}

.social__link--vkontakte {
  width: 22px;
  height: 12px;
  background: url("../img/icon-vk-mobile.svg");
}

.social__link--instagram {
  width: 16px;
  height: 16px;
  background-image: url("../img/icon-insta-mobile.svg");
}

.social__link--facebook {
  width: 10px;
  height: 19px;
  background-image: url("../img/icon-fb-mobile.svg");
}
